{% extends 'base.html' %}
{% block title %}Change Password{% endblock title %}
{% load static %}
{% block content %}
    {% include 'includes/alert.html' %}
    <section class="section-conten padding-y bg">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-2 justify-content-center align-items-center">
                <div class="col">
                    <img src="{% static 'images/change password.jpg' %}" class="img-fluid">
                </div>
                <main class="col">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3">Change Your Password</strong>
                    </header>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form method="POST" action="{% url 'change_password' %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="mb-2">Current Password</label>
                                        <input type="password"name="current_password"placeholder="Current Password"class="form-control"required>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label class="mb-2">New password</label>
                                        <input type="password"name="new_password"placeholder="Create New Password"class="form-control"required>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label class="mb-2">Confirm new password</label>
                                        <input type="password"name="confirm_password"placeholder="Confirm New Password"class="form-control"required>
                                    </div>
                                    <br>
                                    <div class="submit_btn">
                                        <button type="submit" class="btn custm_bg2 btn-lg">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        </article>
                    </main>
                </div>
            </div>
        </section>
    {% endblock %}
