{% extends "base.html" %} {% load static %} {% block title %} Forgout Password {% endblock title %} {% block content %}
    <!-- Main Content -->
                <div class="text-center py-5 my-3 m-auto">
                    <form method='POST' action="{% url 'forgotpassword' %}" >
                        <h2>Forgot Password</h2>
                        {% csrf_token %}
                        <div class="form-group">
                        <input type="email" name="email" class="form-control mb-3 w-50 m-auto" placeholder="Email Address" />
                        <button type="submit" class="btn custm_bg2 btn-block ">send mail</button>
                        </div>
                        <p class="signup text-center mt-3">
                            Don't have an account ?
                            <a href="{% url 'register' %}">Sign Up.</a>
                        </p>
                        <p class="signup text-center mt-3">
                            Already have an account ?
                            <a href="{% url 'login' %}">Sign in .</a>
                        </p>
                    </form>
                </div>
{% endblock content %}