{% extends "base.html" %} {% load static %} {% block title %} Reset Password {% endblock title %} {% block content %}
    <!-- Main Content -->
    <section class="section">
        <div class="containers">
            <div class="user signinBx">
                <div class="imgBx"><img src="/static/images/login.png" alt="" /></div>
                <div class="formBx">
                    <form method='POST' action="{% url 'resetpassword' %}">
                        <h2>Reset your Password here</h2>
                        {% csrf_token %}
                        <input type="password" name="newpassword" placeholder="New Password" />
                        <input type="password" name="confirmpassword" placeholder="Confirm Password" />
                        <button type="submit" class="btn custm_bg2 btn-block">Reset Password</button>
                       
                    </form>
                </div>
            </div>
    </section>
{% endblock content %}